[Unit]
Description=Simple rngd to feed /dev/random

[Service]
ExecStartPre=/bin/grep rdrand /proc/cpuinfo
ExecStart=/usr/bin/rngd-rdrand
Restart=on-abort

[Install]
WantedBy=multi-user.target
